
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .register-form {
    border: 1px solid gray;
    padding: 30px;
  }
=======
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .register-form {
    border: 1px solid gray;
    padding: 30px;
  }
>>>>>>> 6f709d71c43cab0e77b9793bb51abb04973cc226
  